<mat-toolbar color="primary">
    <div class="footer-left">
        Developed by :
        <span class="author">{{develop}}</span>
    </div>

    <div class="footer-right">
         <button mat-button color="primary" (click)="onUserManual()">
           User Manual
        </button>
        <button mat-button color="primary" (click)="onUsefulResources()">
           Useful Resources
        </button>
         <button mat-button color="primary" (click)="onTechnicalDetails()">
            Technical Details Learnt
        </button>
    </div>
</mat-toolbar>